*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.flex{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.header-top{
background-color: #1f1f56;
padding: 20px 0;

}
.wrapper{
max-width: 960px;
margin: 0 auto;
}
.header-main{
display: flex;
flex-direction:column ;
flex-wrap: wrap;
column-gap: 30px;
justify-content: space-between;
align-items: center;
margin: 31px 0;
row-gap: 25px;
}

.center-img{
background: url(../img/center-img.png) no-repeat center top / cover;
padding: 60px 0 45px;
}
.fb{
background-image: url(img/sprayt-foto.png);
display: inline-block;
z-index: 1;
width: 10px;
height: 19px;
background-position:0 0;
transition: all 1s ease;
}
.fb:hover{
background-position: 0 -21px;
}
.tw{
background-image: url(img/sprayt-foto.png);
display: inline-block;
z-index: 1;
width: 18px;
height: 15px;
background-position: -12px 0;
transition: all 1s ease;
}
.tw:hover{
background-position: -12px -22px ;
}
.inst{
background-image: url(img/sprayt-foto.png);
width: 19px;
height: 19px;
z-index: 1;
display: inline-block;
transition: all 1s ease;
background-position: -31px 0 ;
}
.inst:hover{
background-position: -31px -21px;
}
.lolpop li{
color: #b1b1d2;
display: inline-block;
margin-right: 14px;
}
.lolpop{
list-style: none;
}
.social li{
display: inline-block;
margin-left: 25px; 
}
.fer{
width: 220px;
height: 57px;
}
.coll{
width: 159px;
height: 17px;
color: black;
}
.oval-button{
font-size: 16px;
color: #25252c;
font-weight: bold;
font-family: "Arial";
border: 3px solid #fd8300; 
border-radius: 25px;
padding: 12px 35px;
margin: 31px;
text-decoration: none;
}
.oval-button:hover{
background-color:#fd8300 ;
color: #fff;
}
.phone a{
font-size: 18px;
color: #25252c;
font-weight: bold;
font-family: "Arial";
text-decoration: none;
}
.mail a{
font-size: 16px;
color: #25252c;
font-family: "Arial";
text-decoration: none;
}
.mail a:hover,
.phone a:hover{
text-decoration: underline;
}
.phone a:hover{
color: #fd8300;
}
.prop-title{
font-size: 30px;
letter-spacing: 2px;
line-height: 24px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Roboto Slab";
text-align: center;
}
.prop-info{
font-size: 14px;
color: #ffffff;
font-family: "Arial";
text-align: center;
padding-top: 12px;
}
.prop-price{
font-size: 24px;
color: #fd8300;
font-weight: bold;
font-family: "Arial";
text-align: center;
padding-top: 16px;
}
.prop-price strong{
font-size: 40px;
}
.hata-plus{
font-size: 30px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";
margin:25px 0;
}
.content{
padding: 35px 15px 45px 15px;
flex-direction: column-reverse;
} 
.main article p{
font-size: 14px;
line-height: 24px;
color: #666;
font-family: "Arial";
margin: 14px 0;
}
.main article a{
font-size: 14px;
text-decoration: underline;
color: #fd8300;
font-weight: bold;
font-family: "Arial";
}
.row{
display: flex;
margin: 0 0px;
flex-direction: column;
align-items: center;
}
.main h2{
margin: 20px 0;
font-size: 24px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";
}
.home{
position: relative;
margin: 0 14px 10px 14px ;
}
.main h3{
font-size: 14px;
color: #1f1f56;
font-weight: bold;
font-family: "Arial";
padding: 10px 0;
}
.main h3:hover{
text-decoration: underline;
color: #1500ff;
display: inline-block;
}
.main figcaption p{
font-size: 13px;
color: #9999a6;
font-family: "Arial";
line-height: 1.4em;
}
.footer-top{
background-color: #ededf5;
padding: 40px 15px 30px 15px;
}
.footer-bottom{
background-color: #dcdce5;
padding: 17px 0 16px ;
}
.home img{
width: 220px;
height: 150px;
}
.home a{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
.footer-bottom p{
color: #9999a6;
text-align: center;
}
.footer-top ul a{
color: #666;
font-family: "Arial";
font-size: 14px;
line-height: 1.8em;
text-decoration: none;
}
.footer-top li{
list-style: none;
}
.footer-top a:hover {
text-decoration: underline;
color: #fd8300;
}
.main{
max-width: 715px;
}
.vop{
font: 14px/1.7em "Arial" ;
}
.vop a{
position: relative;
display: block;
padding: 11px 15px;
color: #25252c;
background-color: #e4e4ec;
text-decoration: none;
}
.rop{
color: #fff;
background-color: #1f1f56;
padding: 11px 15px;
font-size: 16px;
line-height: 24px;
font-weight: 700;
font-family: "Roboto Slab";
}
.aside-menu{
border-radius: 3px;
overflow: hidden;
}
.column-menu{
margin: 0 26px 10px 26px;
width: 219px;
font-size: 14px;
text-align: left;
}

.aside-menu ul{
list-style: none;
}
.vop>a:hover{
background-color: #fd8300;
color:#fff ;
}
.aside-menu>ul>li+li{
border-top: 1px solid #cdcddd;
}
.sub-menu{
display: none;
}
.sub-menu a {
padding-left: 20px;
color: #666666;
}
.sub-a>a:hover{
color: #e4e4ec;
background-color: #cdcddd;
}
.aside-menu li:hover .sub-menu{
display: block;
}
.tel::before{
content: url(/img/phone.png);
position: absolute;
left: -28px;
bottom: -2px;
}
.tel{
position: relative;
}.tell::before{
content: url(/img/phone.png);
position: absolute;
left: -28px;
bottom: 1px;
}
.tell{
    position: relative;
}
.ma::before{
    content: url(/img/email.png);
    position: absolute;
    left: -28px;
    bottom: -2px;
}
.ma{
    position: relative;
}
.skype::before{
    content: url(/img/skype.png);
    position: absolute;
    left: -28px;
    bottom: -2px;
}
.skype::before{
    position: relative;
}
.vop>a::after{
    content: "" ;
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid #666666;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);
    top: 18px;
    right: 19px;
transition: all 1s ease;
}
.vop a:hover::after{
border-color: #fff;
transform: rotate(45deg);
}
footer a{
    min-width: 165px;
    display:inline-block ;
}
@media screen and (min-width:720px){
.header-main{
    flex-direction: row;
}
.row{
    flex-direction: row;
    margin: 0 -14px;
}
}
@media screen and (min-width:1024px){
    .flex{
        flex-direction: row;
    }

}